<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>

<% @restaurant.reviews.each do |review| %>
<p><%= review.content %></p>
<% end %>

<p><%= link_to "Write a review", new_restaurant_review_path(@restaurant)%></p>
<p><%= link_to "Back to list", restaurants_path%></p>
